.registration-button {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 20em;
  line-height: 40px;
  background-color: $blue;
  color: white;
  font-size: 14px;
  border: 2px solid $blue;
}
.registration-button:hover {
  color: white;
  background: $blue;
  border-color: $blue;
}
