.results-index {
  margin-top: 40px;
  margin-bottom: 40px;
}

#head-index {
  margin-top: 100px;
  margin-left: 60px;
}


.container-fluid {
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.row-fluid {
  margin-right: 10px;
  margin-left: -50px;
  padding-left: 15px;
  padding-right: 15px;
}
// #map-div {
//   margin-right: 25px;
// }
.not-found-img {
  height: 400px;
  width: 600px;
  background-size: cover;
  align-items: center;
}

.not-found {
  align-items: center;
  justify-content: center;
}

.not-found-container {
  display: flex;
}
