<form action="<%= kennels_path %>" class="form-inline search"  method="get">

  <input type="text" class="form-control input-lg search-input" name="city" id="city" placeholder="Where ?">

  <input type="date" class="form-control input-lg search-input" name="start_date" id="start_date" placeholder="dd-mm-yyyy">

  <input type="date" class="form-control input-lg search-input" name="end_date" id="end_date" placeholder="dd-mm-yyyy">


  <button type="submit" class="btn btn-primary btn-lg">
  <i class="fa fa-paw"></i>
  </button>
</form>
