<form id="search_form" action="<%= kennels_path %>" method="get">

  <div>
    <input type="text" name="city" id="city" placeholder="Where ?">
   </div>

   <div>
     <input type="text" name="start_date" id="start_date" placeholder="mm-dd-yyyy">
   </div>

   <div>
    <input type="text" name="end_date" id="end_date" placeholder="mm-dd-yyyy">
   </div>

  <div>
    <input type="submit" value="Search now">
  </div>

</form>
