<div class="container">
  <div class="row">
    <div class="col-xs-12">

    <h2>Available kennels in <%= params[:city].capitalize %></h2>

    <ul>
      <% @kennels.each do |kennel| %>
        <li><%= link_to kennel.description, kennel_path(kennel[:id]) %></li>
        <li><%= link_to 'Delete', kennel_path(kennel), method: :delete %></li>
      <% end %>
    </ul>
    </div>
  </div>
</div>
