<div class="container">
  <div class="row">
    <div class="col-xs-12">

    <h2>Available kennels in <%= params[:city].capitalize %></h2>

    <ul>
      <% @kennels.each do |kennel| %>
        <li>
        <%= link_to kennel_path(kennel[:id]) do %>
          <h4><%= kennel.user.first_name.capitalize %>'s Kennel Offer</h4>
        <% end %>
        <p><%= kennel.description %></p>
        </li>
      <% end %>
    </ul>
    </div>
  </div>
</div>
