.registration-box {
  border: 1px solid #999999;
  padding: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #F1F1F1;
  margin-top: 100px;
  margin-bottom: 100px;

  font-weight: normal;
  padding-right: 20px;
}


.registration-button {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 20em;
  line-height: 40px;
  background-color: $blue;
  color: white;
  font-size: 14px;
  border: 2px solid $blue;
}
.registration-button:hover {
  color: white;
  background: #54a6db;
  border-color: #3697d5;
}

.help-block {
  margin-left: 10px;
  margin-bottom: 0px;
  font-size: 13px;
  font-style: italic;
}

#fb-link {
  margin-top: 30px;
  margin-bottom: 30px;
}
